.dropdown {
    margin-top: 10vh;
    position: relative;
    display: flex;
    color: white;
    align-self: center;
    justify-content: center;

}

.dropdown-text {
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid #ccc;
    width: 130px;
    height: 42px;
    font-family: "ALS Sector Regular Regular";
    font-size: 16px;
    line-height: 1.1;
}

.dropdown-content {
    width: 150px;
    padding: 0 5px 0 5px;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    background-color: #303030;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

.dropdown-content div {
    font-family: "ALS Sector Regular Regular";
    padding: 3px;
}

.dropdown-content input[type="checkbox"] {
    font-family: "ALS Sector Regular Regular";
    margin-right: 5px;
}

.dropdown .dropdown-content label.option {
    display: flex;
    padding: 3px;
    cursor: pointer;
}

.option-text {
    font-family: "ALS Sector Regular Regular";
    align-self: center;
    height: 16px;
}


.dropdown .dropdown-content input[type="checkbox"] + label:hover::before {
    background-color: #f0f0f0; /* Новый цвет фона чекбокса при наведении */
}

/* Изменение цвета фона чекбокса при активации (выбран) */
.dropdown .dropdown-content input[type="checkbox"]:checked + label::before {
    background-color: #007bff; /* Новый цвет фона чекбокса при активации */
}

.dropdown-content hr {
    border: none;
    border-top: 1px solid #ccc;
}

.dropdown .dropdown-content {
    display: block;
}
