.audience {
    font-family: "Roboto", sans-serif;
    background-color: var(--d-grey);
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 13px 16px;
    border-radius: 11px;

    flex: 0 0 auto;
}

.audience:first-of-type {
    margin-left: 16px;
}

.audience:last-of-type {
    margin-right: 16px;
}

.audience-number {
    font-size: 16px;

}

.floor {
    font-family: 'ALS Sector', sans-serif;
    margin: 0 16px;
}

.time {
    font-size: 10px;
    color: var(--l-grey);
}