@import url(https://db.onlinewebfonts.com/c/55c75572ae1d9f96d61851294e1698ec?family=ALS+Sector+Bold+Bold);
@import url(https://db.onlinewebfonts.com/c/595030bb520f1e2ab2fb4e8d7c5f30a5?family=ALS+Sector+Regular+Regular);

.audience {
    font-family: "Roboto", sans-serif;
    background-color: var(--d-grey);
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 13px 16px;
    border-radius: 11px;

    flex: 0 0 auto;
}

.audience-number {
    font-size: 16px;

}

.floor {
    font-family: "ALS Sector Regular Regular";
}

.time {
    font-size: 10px;
    color: var(--l-grey);
}