@font-face {
  font-family: 'ALS Sector';
  font-style: normal;
  font-weight: normal;
  src: local('ALS Sector Regular'), url('/src/fonts/ALS_Sector-Regular.otf') format("truetype");
}

@font-face {
  font-family: 'ALS Sector';
  font-style: normal;
  font-weight: bold;
  src: local('ALS Sector Bold'), url('/src/fonts/ALS_Sector-Bold.otf') format("truetype");
}

h1,h2,h3,h4 {
  display: flex;
  align-self: center;
  font-family: 'ALS Sector', sans-serif;
  font-size: 31px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background: #000;
  color: #FFFFFF;
  overflow: hidden;
  width: 100vw;
  height: var(--tg-viewport-stable-height);
  top: 0;
  left: 0;
  position: fixed;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.header {
  margin-top: 10px;
}

.wrap {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* 
.myBtn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 16px;
} */

.weekDaySelector {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdown-wrapper {
  display: flex;
  max-width: 93vw;
  gap: 10px;
  justify-content: space-around;
}

.dropdown-wrapper-list {
  display: flex;
  width: fit-content;
  /* height: 45px; */
  /* margin-top: 14px; */
  gap: 5px;
}


.mylist-wrap {
  /* padding: 0 16px; */
  display: flex;
  flex-direction: column;
  /* padding-bottom: 20px; */
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

.mylist-nav {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.header-results {
  align-self: flex-start;
  margin-top: 10px;
}

.content-settings {
  display: flex;
  content: url("../public/settings.svg");
  width: 23px;
  height: 18px;
  font-size: 100px;
  align-self: center;
  justify-self: center;
}

.loader-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
}

.flex-space {
  flex-grow: 1;
}
