@import url(https://db.onlinewebfonts.com/c/55c75572ae1d9f96d61851294e1698ec?family=ALS+Sector+Bold+Bold);
@import url(https://db.onlinewebfonts.com/c/595030bb520f1e2ab2fb4e8d7c5f30a5?family=ALS+Sector+Regular+Regular);

h1,h2,h3,h4 {
  display: flex;
  align-self: center;
  font-family: "ALS Sector Bold Bold";
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #1D1D1D;
  color: #FFFFFF;
  justify-content: center;
}

.header {
  margin-top: 15vh;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weekDaySelector {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdown-wrapper {
  gap: 7vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

